{% extends "base.html" %}
{% block bodycontent %}
<body>
  <div class="headline">
    About
  </div>
  <div class="content" id="posts">
    The creator of Road2Music, Viktoria Dorothea Kamps, is based in Lüneburg, Germany near Hamburg.
    She is currently studying Digital Media and Business Psychology in her 3rd semester at Leuphana Universität Lüneburg.
    The application Road2Music is a project that was created for the module Technological Basics I & II within her major.
    <p>
    <div class="picture">
      <img src="/static/img/viktoria1.jpg" width=98%></img>
    </div>
    <p>
      Originally, the idea of Road2Music was born because she wanted to combine her two passions, music and travelling, in an app.
      Follow along on the journey to see what's more to come!<p>
    <p>
    <div class="picture">
      <img src="/static/img/viktoria2.jpg" width=98%></img>
    </div>
    <p>

</body>
  <div class="footer">&#169; 2021 </div>
{% endblock bodycontent %}
