{% extends "base.html" %}
{% block bodycontent %}
<body>
  <div class="headline">
    Welcome!
  </div>
  <div class="content">
    Get started by creating a playlist that fits to your road trip!
    <p>
    <div class="picture">
      <img src="/static/img/Road.jpg" width=98%></img>
    </div>
      <br>
      <p>
      <br>
    <div class=bold>
      Step-By-Step Guide
    </div> <p>
      1. Go to  <a href = /createplaylist <button type="submit">Create Playlist</button></a> <p>
      2. Log in to Spotify and allow Road2Music to create a playlist in your account. <p>
      3. Enter your origin and destination information. <p>
      4. Sit back and relax – your playlist gets curated for you! <p>
    <div class="picture">
      <img src="/static/img/Road2.jpg" width=98%></img>
    </div>

</body>
  <div class="footer">&#169; 2022 </div>
{% endblock bodycontent %}
