{% extends "base.html" %}
{% block bodycontent %}
<body>
  <div class="headline">
    Playlists of other Users
  </div>
  <div class="content">
    Get inspired by road trips and music playlists of other users and see what they have been listening to on their journey!
  <div> </div>
    <p>
    <p>
  	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1Ei0eLGRwB4hwH74B7WMBM?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3NsHnRtQIjVy7KdGCx1mlt?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/78HCq4q0VUTPkq9Ii5NlSj?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5csmcl8ISHH3lWgZ3bwAh2?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/29xKymxBaValJTekZh2pEz?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6IYClvVLumMHT3wDxh1duQ?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> <p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6vU9lJeEWFm6OlRGOgh3rQ?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

</body>
  <div class="footer">&#169; 2021 </div>
{% endblock bodycontent %}
